<item>
  <title><![CDATA[<%= @item.title %>]]></title>
  <dc:creator><![CDATA[<%= @item.author.name %>]]></dc:creator>
  <description><%= @item.content %></description>
  <pubDate><%= @item.created_at.iso8601 %></pubDate>
  <guid><%= item_url(@item) %></guid>
  <link><%= item_url(@item) %></link>
</item>
