<div class="container">
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand">Feedster</a>
    </div>
  </div>

  <ol class="breadcrumb">
    <% if @item.category.parent %>
    <li><%= link_to @item.category.parent.name, category_path(@item.category.parent) %></li>
    <% end %>
    <li><%= link_to @item.category.name, category_path(@item.category) %></li>
    <li class="active"><%= @item.title %></li>
  </ol>

  <p><%= @item.content %></p>

  <% if @item.items.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">Related items</div>
    <div class="list-group">
      <% @item.items.each do |ri| %>
      <%= link_to ri.title, category_item_path(ri.category, ri), class: 'list-group-item' %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
