<div class="container">

  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand">Feedster</a>
    </div>
  </div>

  <ol class="breadcrumb">
    <% if @category.parent %>
    <li><%= link_to @category.parent.name, category_path(@category.parent) %></li>
    <% end %>
    <li class="active"><%= @category.name %></li>
  </ol>

  <div class="panel panel-primary">
    <div class="panel-heading">In <strong><%= @category.name %></strong></div>
    <% if @category.items.any? %>
    <div class="list-group">
      <% @category.items.each do |i| %>
      <%= link_to i.title, category_item_path(@category, i), class: 'list-group-item' %>
      <% end %>
    </div>
    <% else %>
    <div class="panel-body">This category has no items.</div>
    <% end %>
  </div>

  <% if @category.categories.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">Subcategories</div>
    <div class="list-group">
      <% @category.categories.each do |c| %>
      <%= link_to c.name, category_path(c), class: 'list-group-item' %>
      <% end %>
    </div>
  </div>
  <% end %>

</div>
