<% if @category.categories.any? %>
<subcategories>
  <% @category.categories.each do |c|  %>
    <category>
      <name><%= c.name %></name>
      <url><%= category_url(c, :xml) %></url>
    </category>
  <% end %>
</subcategories>
<% end %>

<% @category.items.each do |i| %>
<item>
  <title><![CDATA[<%= i.title %>]]></title>
  <% unless i.author.nil? %>
  <dc:creator><![CDATA[<%= i.author.name %>]]></dc:creator>
  <% end %>
  <description><%= markdown(i.content) %></description>
  <pubDate><%= i.created_at.iso8601 %></pubDate>
  <guid><%= item_url(i) %></guid>
  <link><%= item_url(i) %></link>
</item>
<% end %>
